.git
.gitignore
.vscode/**
test/**
src/test/**
**/*.test.js
**/*.spec.js
**/test/**
**/test-project/**
test-project/

**/.*
**/Thumbs.db

README.md
CHANGELOG.md
PUBLISHING.md

.eslintrc.json
.nycrc
.prettierrc
.travis.yml